* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hero-section {
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}