@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.products {
    padding: 20px 100px;
    background-color: #fff;
}

.product-heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #3a3a3a;
    margin-bottom: 50px;
    font-family: "Poppins", sans-serif;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.product-card {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
}

.product-card:hover {
    transform: translateY(-5px);
}

.img-box {
    position: relative;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

.discount-badge {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #E57373;
    color: white;
    font-size: 14px;
    height: 45px;
    width: 45px;
    padding: 12px 10px;
    border-radius: 50%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(58, 58, 58, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card:hover .overlay {
    opacity: 1;
}

.add-btn {
    background-color: #FFFFFF;
    color: #B88E2F;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 10px;
    white-space: nowrap;
    transition: 0.3s ease;
}

.add-btn:hover {
    background-color: #B88E2F;
    color: white;
}

.icon-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon-item {
    text-align: center;
    color: #fff;
    font-family: "Poppins";
}

.icon-item .icon {
    color: white;
}

.icon-text {
    font-size: 13px;
}

.brand {
    font-weight: 600;
    font-size: 20px;
    color: #3a3a3a;
    margin-top: 10px;
    font-family: "Poppins";

}

.name {
    color: #898989;
    font-size: 14px;
    font-family: "Poppins";

}

.price-row {
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.price {
    font-weight: 700;
    color: #3A3A3A;
    font-family: "Poppins";

}

.old-price {
    text-decoration: line-through;
    color: #aaa;
    font-size: 14px;
}


/* last btn */

.btn-container {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
    margin-bottom: 30px;

}

.btn {

    text-decoration: none;
    padding: 10px 20px;
    background-color: #fff;
    color: #B88E2F;
    border: 1px solid #B88E2F;
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #B88E2F;
    transform: scale(1.05);
    color: white;
}