@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.path-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F9F1E7;
    padding: 12px 30px;
}

.path{
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    font-weight: 400;
}

.path-link{
    color:#9F9F9F ;
    font-size: 12px;
    cursor: pointer;
}

.vetical-bar{
    color:#9F9F9F ;

}

.product-desc{
    border-top: 1px solid #D9D9D9;
    display: flex;
    justify-content:center;
    gap: 200px;
    padding: 10px 0;
    margin-top: 15px;
}

.tab.active , .tab{
    margin-top: 20px;
    font-size: 19px;

}

.tab {
    cursor: pointer;
    font-weight: 400; 
    color: #555;
}

.tab.active {
    font-weight: 500; 
    color: #000;
}

.tab-content {
    margin-top: 15px;
    padding: 0 200px;
    font-size: 15px;
    color: #9F9F9F;
}

.img{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 20px;
}

.img img{
    height: 250px;
    width: 500px;
    border-radius: 5px;
    object-fit: cover;
}

.title-related{
    margin-top: 50px;
    border-top: 1px solid #D9D9D9;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 20px;
    font-weight: 400;
    color: #000;
}



