@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.wishlist-empty {
  text-align: center;
  padding: 120px 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.empty-img {
  width: 400px;
  opacity: 0.9; 
}

.wishlist-empty h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 10px;
}

.wishlist-empty p {
  color: #777;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;

}
