.inspiration-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FCF8F3;
    padding: 60px 80px;
    gap: 40px;
    position: relative;
    overflow: hidden;
}

/* LEFT SIDE */
.inspiration-left {
    flex: 0.4;
    font-family: "Poppins", sans-serif;
}

.inspiration-left .title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #3a3a3a;
    margin-bottom: 16px;
    line-height: 1.2;
}

.inspiration-left .desc {
    color: #666;
    margin-bottom: 28px;
    line-height: 1.6;
    font-size: 1rem;
    max-width: 400px;
}

.explore-btn {
    background-color: #b88e2f;
    color: #fff;
    padding: 12px 28px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.explore-btn:hover {
    background-color: #a17e2a;
    transform: scale(1.05);
}

/* RIGHT SIDE */
.inspiration-right {
    flex: 0.6;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.slide-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.main-image {
    background-color: #fdf2e7;
    border-radius: 12px;

}

.slide-container .main-image {
    width: 70%;
}

.slide-container .next-image {
    width: 30%;
}

.main-image {
    position: relative;
    width: 70%;
    height: 450px;
    overflow: hidden;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-box {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.72);
    padding: 15px 20px;
}

.overlay-box p {
    font-size: 14px;
    color: #616161;
    margin-bottom: 5px;
    font-family: "Poppins";
    font-weight: 500;
}

.overlay-box h3 {
    font-size: 20px;
    font-weight: 600;
    color: #3A3A3A;
    font-family: "Poppins";

}

.arrow-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #b88e2f;
    color: #fff;
    border: none;
    width: 38px;
    height: 38px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-btn:hover {
    background: #967626;
}

/* NEXT IMAGE  */
.next-image {
    width: 30%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.next-image img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    background-color: #fdf2e7;
}

/* DOTS */
.swiper-pagination {
    bottom: 20px !important;
    left: 78% !important;
    transform: translateX(-50%);
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #D8D8D8;
    opacity: 0.8;
}

.swiper-pagination-bullet-active {
    background: #b88e2f;
    opacity: 1;
}

.rigth-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 10;
}

.custom-next {
    background-color: #fff;
    color: #b88e2f;
    border: none;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0px 1px 3px #3A3A3A;

}

.custom-next:hover {
    background-color: #967626;
    color: white;
}