.insp-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FCF8F3;
    padding: 60px 80px;
    gap: 40px;
    position: relative;
    overflow: hidden;
}

/* LEFT SIDE */
.insp-left {
    flex: 0.4;
    font-family: "Poppins", sans-serif;
}

.insp-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #3a3a3a;
    margin-bottom: 16px;
    line-height: 1.2;
}

.insp-desc {
    color: #666;
    margin-bottom: 28px;
    line-height: 1.6;
    font-size: 1rem;
    max-width: 400px;
}

.insp-btn {
    background-color: #b88e2f;
    color: #fff;
    padding: 12px 28px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.insp-btn:hover {
    background-color: #a17e2a;
    transform: scale(1.05);
}

/* RIGHT SIDE */
.insp-right {
    flex: 0.6;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.insp-slide {
    display: flex;
    gap: 20px;
    align-items: center;
}

.insp-main-img {
    background-color: #fdf2e7;
    border-radius: 12px;
    position: relative;
    width: 70%;
    height: 450px;
    overflow: hidden;
}

.insp-main-img img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
}

/* Overlay */
.insp-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.72);
    padding: 15px 20px;
}

.insp-overlay p {
    font-size: 14px;
    color: #616161;
    margin-bottom: 5px;
    font-family: "Poppins";
    font-weight: 500;
}

.insp-overlay h3 {
    font-size: 20px;
    font-weight: 600;
    color: #3A3A3A;
    font-family: "Poppins";
}

/* Arrow button */
.insp-arrow-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #b88e2f;
    color: #fff;
    border: none;
    width: 38px;
    height: 38px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insp-arrow-btn:hover {
    background: #967626;
}

/* NEXT IMAGE */
.insp-next-img {
    width: 30%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.insp-next-img img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    background-color: #fdf2e7;
}

/* DOTS */
.swiper-pagination {
    bottom: 20px !important;
    left: 78% !important;
    transform: translateX(-50%);
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #D8D8D8;
    opacity: 0.8;
}

.swiper-pagination-bullet-active {
    background: #b88e2f;
    opacity: 1;
}

/* RIGHT ARROW BUTTON */
.insp-right-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 10;
}

.insp-next-btn {
    background-color: #fff;
    color: #b88e2f;
    border: none;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0px 1px 3px #3A3A3A;
}

.insp-next-btn:hover {
    background-color: #967626;
    color: white;
}
