@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

.cart-sidebar {
  position: fixed;
  top: 80px;
  right: 12px;
  width: 350px;
  height: 74vh;
  background-color: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  animation: slideIn 0.3s ease-in-out;
  transform-origin: right;
  will-change: transform;
}

body.sidebar-overlay::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1500;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 13px;

}

.close-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.cart-body {
  flex: 1;
  overflow-y: auto;
  margin-top: 15px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.cart-item-info h4 {
  color: #000000;
  font-weight: 400;
  font-size: 15px;
}

.cart-item-info p {
  color: #B88E2F;
  font-weight: 500;
  font-size: 13px;
}


.cart-item-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.cart-item-info {
  flex: 1;
  margin-left: 10px;
}

.remove-btn {
  background: white;
  border: none;
  color: #9F9F9F;
  font-size: 15px;
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.remove-btn:hover {
  color: #9F9F9F;
  background-color: white;
}

.cart-footer {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  font-weight: bold;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-footer .left {
  font-weight: 400;
  color: #000000;
}

.cart-footer .right {
  font-weight: 600;
  color: #B88E2F;
}