
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN SIDEBAR */
 .sidebar {
  position: fixed;
  top: 80px;
  right: 12px;
  width: 350px;
  height: 74vh;
  background-color: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  animation: slideIn 0.3s ease-in-out;
  transform-origin: right;
  will-change: transform;
}

/* OVERLAY */

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */

/* HEADER */
.sidebar-header {
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 13px;
}

.sidebar-header p{
  font-size: 23px;
  font-weight: 600;
}

/* BODY */
.sidebar-body {
  flex: 1;
  overflow-y: auto;
  margin-top: 15px;
}

.sidebar-empty-msg {
  text-align: center;
  font-size: 14px;
  color: #777;
}

/* ITEM */
.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.sidebar-item-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.sidebar-item-info {
  flex: 1;
  margin-left: 10px;
}

.sidebar-item-info h4 {
  color: #000;
  font-weight: 400;
  font-size: 15px;
}

.sidebar-item-info p {
  color: #B88E2F;
  font-weight: 500;
  font-size: 13px;
}

/* REMOVE BUTTON */
.sidebar-remove-btn {
  background: white;
  border: none;
  color: #9F9F9F;
  font-size: 15px;
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.sidebar-remove-btn:hover {
  color: #9F9F9F;
  background-color: white;
}

/* FOOTER */
.sidebar-footer {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  font-weight: bold;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-footer .left {
  font-weight: 400;
  color: #000000;
}

.sidebar-footer .right {
  font-weight: 600;
  color: #B88E2F;
} 


