.funiro-section {
    width: 100%;
    background: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.funiro-header {
    margin-top: 20px;
}

.funiro-header h4 {
    color: #616161;
    margin-bottom: 0px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.funiro-header h2 {
    font-size: 32px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

.funiro-masonry-grid {
    display: flex;
    margin-left: -10px;   /* Required for Masonry */
    width: auto;
    justify-content: center;
    margin-bottom: 30px;
}

.funiro-masonry-column {
    padding-left: 10px;  /* Required */
    background-clip: padding-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.funiro-card {
    overflow: hidden;
    border-radius: 0;
    margin: 0 0 10px 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.funiro-card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.funiro-card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
